TAG=${{ VERSION }}
OPENWEATHER_API_KEY=${{ OPENWEATHER_API_KEY }}

MINIO_ACCESS_KEY=myminioadmin
MINIO_SECRET_KEY=myminiosecret

S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=myminioadmin
AWS_SECRET_ACCESS_KEY=myminiosecret
S3_BUCKET=test

DB_HOSTNAME=postgres
DB_PORT=5432
DB_USER=mypostgresadmin
DB_PASSWORD=mypostgressecret
DB_NAME=weather

PG_ADMIN_MAIL=mypgadmin@gmail.com
PG_ADMIN_PASSWORD=mypgadminsecret
